// Navigation code here
body{
    width: 100vw;

    nav{
        background-color: #f4f4f4;
        padding: 20px;
        text-align: center;
        .flexbox();
        flex-direction: column;
        width: 100%;

        h1 {
            font-size: 4.4rem;
            margin-bottom: 20px;
        }

        a{
            font-size: 1.6rem;
            text-decoration: none;
            color: @shuttle-gray;
            padding: 10px 20px;

            @media @phone {
                padding: 10px;
            }
        }

    }
}